@use "../../../assets/variables";

.listMenuContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 38% 1fr;
  background-color: transparent;
  margin-top: 8rem;
  z-index: 0;

  .listMenu {
    grid-column: 2/3;
    max-width: 100%;
    padding: 0.3rem 0.8rem;
    text-align: right;

    .switch {
      color: #fff;
      margin-right: 1.8rem;
    }

    .addButton:hover {
      background-color: transparent;
      color: variables.$theme-main-color;
    }
  }
}
