$featured-img: linear-gradient(180deg, #fff, #262626);

* {
  box-sizing: border-box;
  // outline: 1px solid red;
}

body {
  scrollbar-color: #666 #201c29;
  overflow-x: hidden;
  background-color: #262626;
  background-position: top 58px center;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      50% 50% at top center,
      rgba(0, 0, 0, 0.66),
      #262626
    ),
    $featured-img;
  background-size: 120% 2000px, 100% 2000px;
}

.container {
  display: grid;
  place-items: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
}
