@use "../../../assets/variables";

.listItem {
  padding-left: 1rem;
  height: 2.7rem;
  list-style-type: none;

  &:before {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.6rem;
    border: 1px solid #000;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    content: attr(data-badge);
    background-color: variables.$theme-main-color;
    color: #fff;
    font-size: 1.2rem;
    position: relative;
    bottom: 3px;
  }

  &.isTest {
    padding: 0 1rem;
  }

  &.isTest:before {
    content: none;
  }

  &.isTest:not(:last-child) {
    border-bottom: 1px solid transparent;
  }

  &:first-child {
    margin-top: 1rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid lightblue;
  }

  &:last-child {
    margin-bottom: 1rem;
  }

  .vocab {
    margin: 2px 0;
    display: inline-block;
  }

  button.menuButton {
    float: right;
    color: rgba(0, 0, 0, 0.54);

    &.isTest {
      display: none;
    }
  }
}
