@use "../../../assets/variables";

.circularProgressContainer {
  display: grid;
  place-items: center;
  margin: 1em 1em;
  height: calc(100vh - 5rem);
  color: #fff;
}

.list {
  font-family: variables.$display-font;
  font-size: 1.5rem;
  font-weight: 400;
  list-style-position: inside;
  width: 38%;
  max-width: 100%;
  background: #fff;
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
  padding: 0;
  margin-block-start: 0.5rem;
  border-radius: variables.$theme-border-radius;
}

.linkText {
  margin-top: 3rem;
  color: #fff;
  font-size: 2rem;

  .link {
    color: #fff;
    text-decoration-thickness: 0.1rem;
  }
}
