$margin-top: 12px;
$margin-bottom: 4px;

.test {
  display: flex;
  column-gap: 0.6rem;

  .animationWrapper {
    width: 100%;
    margin: $margin-top 0 $margin-bottom 0;
    padding-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }

  button {
    margin: $margin-top 0 $margin-bottom 0;
    height: 32px;

    .enterIcon {
      height: 1.2rem;
      width: 1.2rem;
    }
  }

  label {
    top: -3px;

    span {
      display: none;
    }
  }

  input {
    height: 15px;
  }
}
