$vertical-padding: 0.3rem;
$horizontal-padding: 0.9rem;

.button {
  &:before {
    content: attr(data-label);
    visibility: hidden;
  }

  .buttonLabel {
    position: absolute;
    top: $vertical-padding;
    bottom: $vertical-padding;
    left: $horizontal-padding;
    right: $horizontal-padding;
  }
}
